<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>${global("name")}</title>
<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="${base!}/resources/ace/css/bootstrap.css" />
<link rel="stylesheet" href="${base!}/resources/ace/css/font-awesome.css" />

<!-- page specific plugin styles -->
<script type="text/javascript">
	var contextPath = '${base!}';
</script>
<!-- text fonts -->
<link rel="stylesheet" href="${base!}/resources/ace/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="${base!}/resources/ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="${base!}/resources/ace/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="${base!}/resources/ace/css/ace-ie.css" />
		<![endif]-->
<link rel="stylesheet" href="${base!}/resources/kindeditor/themes/default/default.css" />

<!-- inline styles related to this page -->
<style type="text/css">
label {
	font-weight: 800
}

label small {
	font-weight: 500
}
</style>
<!-- ace settings handler -->
<script src="${base!}/resources/ace/js/ace-extra.js"></script>
<script src="${base!}/resources/ace/js/jquery1x.js"></script>
<script charset="utf-8" src="${base!}/resources/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="${base!}/resources/kindeditor/lang/zh_CN.js"></script>

<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="${base!}/resources/ace/js/html5shiv.js"></script>
		<script src="${base!}/resources/ace/js/respond.js"></script>
		<![endif]-->
</head>

<body class="no-skin">
	${layoutContent}
	<script type="text/javascript">
		window.jQuery || document.write("<script src='${base!}/resources/ace/js/jquery.js'>" + "<"+"/script>");
	</script>

	<!-- <![endif]-->

	<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='${base!}/resources/ace/js/jquery1x.js'>"+"<"+"/script>");
</script>
<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document.write("<script src='${base!}/resources/ace/js/jquery.mobile.custom.js'>" + "<"+"/script>");
	</script>
	<script src="${base!}/resources/ace/js/bootstrap.js"></script>

	<!-- page specific plugin scripts -->

	<!--[if lte IE 8]>
		  <script src="${base!}/resources/ace/js/excanvas.js"></script>
		<![endif]-->
	<script src="${base!}/resources/ace/js/jquery-ui.custom.js"></script>
	<script src="${base!}/resources/ace/js/jquery.ui.touch-punch.js"></script>
	<script src="${base!}/resources/ace/js/jquery.easypiechart.js"></script>
	<script src="${base!}/resources/ace/js/jquery.sparkline.js"></script>
	<script src="${base!}/resources/ace/js/flot/jquery.flot.js"></script>
	<script src="${base!}/resources/ace/js/flot/jquery.flot.pie.js"></script>
	<script src="${base!}/resources/ace/js/flot/jquery.flot.resize.js"></script>

	<!-- ace scripts -->
	<script src="${base!}/resources/ace/js/ace/elements.scroller.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.colorpicker.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.fileinput.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.typeahead.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.wysiwyg.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.spinner.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.treeview.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.wizard.js"></script>
	<script src="${base!}/resources/ace/js/ace/elements.aside.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.ajax-content.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.touch-drag.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.sidebar.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.sidebar-scroll-1.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.submenu-hover.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.widget-box.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.settings.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.settings-rtl.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.settings-skin.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.widget-on-reload.js"></script>
	<script src="${base!}/resources/ace/js/ace/ace.searchbox-autocomplete.js"></script>
	<script src="${base!}/resources/layer/layer.js"></script>
	<script src="${base!}/resources/layer/extend/layer.ext.js"></script>
	<script src="${base!}/resources/js/common/common.js"></script>
	<script src="${base!}/resources/js/common/validation.js"></script>
</body>
</html>
