<!--# 
layout("/layout/default.html",{"menu":[nameSpace,"apm"],"breadcrumbs":[{"name":"告警列表"}]}){ 
 #-->
<style>
<!--
.charts {
	height: 400px
}

.fullscreen .charts {
	height: 100%
}
-->
</style>
<link rel="stylesheet" href="${base!}/resources/ace/css/chosen.css" />
<div class="row">
	<div class="col-xs-12 col-sm-6 widget-container-col">
		<div class="widget-box widget-color-blue">
			<!-- #section:custom/widget-box.options -->
			<div class="widget-header">
				<h5 class="widget-title bigger lighter">
					<i class="ace-icon fa fa-bar-chart"></i> ${obj.data.network.ip!} 主机实时性能曲线
				</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>

			<!-- /section:custom/widget-box.options -->
			<div class="widget-body">
				<div class="widget-main no-padding charts" id="line"></div>
			</div>
		</div>
	</div>
	<!-- /.span -->
	<div class="col-xs-12 col-sm-6 widget-container-col">
		<div class="widget-box widget-color-blue">
			<!-- #section:custom/widget-box.options -->
			<div class="widget-header">
				<h5 class="widget-title bigger lighter">
					<i class="ace-icon fa fa-pie-chart"></i> ${obj.data.network.ip!} 主机实时运行仪表盘
				</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="orange2"> <i class="ace-icon fa fa-expand"></i>
					</a>
				</div>
			</div>

			<!-- /section:custom/widget-box.options -->
			<div class="widget-body">
				<div class="widget-main no-padding charts" id="gauge"></div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-8 widget-container-col">
		<div class="widget-box widget-color-blue">
			<!-- #section:custom/widget-box.options -->
			<div class="widget-header">
				<h5 class="widget-title bigger lighter">
					<i class="ace-icon fa fa-warning"></i> 告警设置
				</h5>
			</div>

			<!-- /section:custom/widget-box.options -->
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-striped table-bordered table-hover">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="ace-icon fa fa-user"></i> 项目</th>
								<th><i>@</i>数据</th>
								<th>设置</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="">CPU</td>

								<td>当前使用 <i class="red" id="cpu">${obj.data.cpu.total.usage!}%</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['cpu.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

							<tr>
								<td class="">JVM</td>

								<td>当前使用 <i class="red" id="jvm">${obj.data.memory.jvm.usage!}%</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['jvm.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

							<tr>
								<td class="">内存</td>

								<td>当前使用 <i class="red" id="ram">${obj.data.memory.ram.usage!}%</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['ram.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

							<tr>
								<td class="">Swap 交换区</td>

								<td>当前使用 <i class="red" id="swap">${obj.data.memory.swap.usage!}%</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['swap.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

							<tr>
								<td class="">磁盘</td>

								<td>当前使用 <i class="red">95%</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['disk.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

							<tr>
								<td class="">网络流量</td>

								<td>当前使用 <i class="red" id="network">${obj.data.network.rate!} M/s</i>
								</td>

								<td>使用超过 <input type="text" id="spinner3" class="input-sm spinner" value="${obj.data.config['network.alarm.percent']}" /> 发送 <select multiple=""
									class="chosen-select form-control tag-input-style" data-placeholder="选择告警方式">
										<option value="EMAIL">邮件</option>
										<option value="SMS">短信</option>
										<option value="WECHAT">微信</option>
								</select> 告警
									<button class="btn btn-sm btn-primary">
										<i class="ace-icon fa fa-cogs align-top"></i> 设置
									</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /.span -->
	<div class="col-xs-12 col-sm-4 widget-container-col">
		<div class="widget-box widget-color-blue">
			<!-- #section:custom/widget-box.options -->
			<div class="widget-header">
				<h5 class="widget-title bigger lighter">
					<i class="ace-icon fa fa-server"></i> 服务器信息
				</h5>
			</div>

			<!-- /section:custom/widget-box.options -->
			<div class="widget-body">
				<div class="widget-main no-padding">
					<table class="table table-striped table-bordered table-hover">
						<thead class="thin-border-bottom">
							<tr>
								<th><i class="ace-icon fa fa-user"></i> 项目</th>
								<th><i>@</i>数据</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="">IP</td>

								<td>${obj.data.network.ip!}</td>
							</tr>
							<tr>
								<td class="">主机名</td>

								<td>${obj.data.network.hostName!}</td>
							</tr>
							<tr>
								<td class="">操作系统名称</td>

								<td>${obj.data.system.osName!}</td>
							</tr>
							<tr>
								<td class="">系统架构</td>

								<td>${obj.data.system.arch!}</td>
							</tr>
							<tr>
								<td class="">操作系统版本</td>

								<td>${obj.data.system.osVersion!}</td>
							</tr>
							<tr>
								<td class="">CPU数量</td>

								<td>${obj.data.system.processors!}</td>
							</tr>
							<tr>
								<td class="">JRE版本</td>

								<td>${obj.data.system.javaVersion!}</td>
							</tr>
							<tr>
								<td class="">JRE 提供商</td>

								<td><a href="${obj.data.system.javaUrl!}" target="_blank"> ${obj.data.system.vendor!} </a></td>
							</tr>
							<!-- tr>
								<td class="">JAVA-HOME</td>

								<td>${obj.data.system.javaHome!}
								</td>
							</tr>
							<tr>
								<td class="">临时目录</td>

								<td>${obj.data.system.tmpdir!}
								</td>
							</tr -->


						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--# } #-->
<script src="${base!}/resources/ace/js/fuelux/fuelux.spinner.js"></script>
<script src="${base!}/resources/ace/js/chosen.jquery.js"></script>
<script src="${base!}/resources/ace/js/jquery.fullscreen.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.0.0.js"></script>
<script type="text/javascript">
	var line;
	var gauge;
	$('.fa-expand').on('click', function() {
		console.log(line.getWidth() + ' > ' + line.getHeight());
		setTimeout(function() {
			line.resize();
			gauge.resize();
			console.log(line.getWidth() + ' > ' + line.getHeight());
		}, 1000);
	});
	$(function() {
		$('.spinner').ace_spinner({
			value : 60,
			min : 0,
			max : 100,
			step : 5,
			on_sides : true,
			icon_up : 'ace-icon fa fa-plus bigger-110',
			icon_down : 'ace-icon fa fa-minus bigger-110',
			btn_up_class : 'btn-success',
			btn_down_class : 'btn-danger'
		});
		line = echarts.init($('#line')[0]);
		var option = {
			title : {
				text : '',
			},
			tooltip : {
				trigger : 'axis'
			},
			legend : {
				data : [ 'CPU', 'JVM', 'RAM', 'SWAP', 'NETWORK' ]
			},
			toolbox : {
				show : true,
				feature : {
					restore : {},
					saveAsImage : {}
				}
			},
			dataZoom : {
				show : false,
				start : 0,
				end : 100
			},
			xAxis : [ {
				type : 'category',
				boundaryGap : true,
				data : (genTimeLine())
			} ],
			yAxis : [ {
				type : 'value',
				scale : true,
				name : '百分比',
				max : 100,
				min : 0,
				boundaryGap : [ 0.2, 0.2 ]
			}, {
				type : 'value',
				scale : true,
				max : 10,
				min : 0,
				name : '百分比 & M/s',
				boundaryGap : [ 0.2, 0.2 ]
			} ],
			series : [ {
				name : 'CPU',
				type : 'line',
				smooth : true,
				data : (randomData(5, 100))
			}, {
				name : 'JVM',
				type : 'line',
				smooth : true,
				data : (randomData(5, 100))
			}, {
				name : 'RAM',
				type : 'line',
				smooth : true,
				data : (randomData(5, 100))
			}, {
				name : 'SWAP',
				type : 'line',
				smooth : true,
				yAxisIndex : 1,
				data : (randomData(5, 2))
			}, {
				name : 'NETWORK',
				type : 'line',
				smooth : true,
				yAxisIndex : 1,
				data : (randomData(5, 3))
			} ]
		};
		if (option && typeof option === "object") {
			var startTime = +new Date();
			line.setOption(option, true);
			var endTime = +new Date();
			var updateTime = endTime - startTime;
			console.log("Time used:", updateTime);
		}

		gauge = echarts.init($('#gauge')[0]);
		gaugeOption = {
			tooltip : {
				formatter : "{a} <br/>{c} {b}"
			},
			toolbox : {
				show : true,
				feature : {
					restore : {
						show : true
					},
					saveAsImage : {
						show : true
					}
				}
			},
			series : [ {
				name : 'CPU',
				type : 'gauge',
				z : 3,
				min : 0,
				max : 100,
				splitNumber : 10,
				radius : '50%',
				axisLine : { // 坐标轴线
					lineStyle : { // 属性lineStyle控制线条样式
						width : 10
					}
				},
				axisTick : { // 坐标轴小标记
					length : 15, // 属性length控制线长
					lineStyle : { // 属性lineStyle控制线条样式
						color : 'auto'
					}
				},
				splitLine : { // 分隔线
					length : 20, // 属性length控制线长
					lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
						color : 'auto'
					}
				},
				title : {
					textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
						fontWeight : 'bolder',
						fontSize : 20,
						fontStyle : 'italic'
					}
				},
				detail : {
					textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
						fontWeight : 'bolder'
					}
				},
				data : [ {
					value : 40,
					name : 'CPU'
				} ]
			}, {
				name : 'NETWORK',
				type : 'gauge',
				center : [ '20%', '55%' ], // 默认全局居中
				radius : '40%',
				min : 0,
				max : 20,
				endAngle : 45,
				splitNumber : 10,
				axisLine : { // 坐标轴线
					lineStyle : { // 属性lineStyle控制线条样式
						width : 8
					}
				},
				axisTick : { // 坐标轴小标记
					length : 12, // 属性length控制线长
					lineStyle : { // 属性lineStyle控制线条样式
						color : 'auto'
					}
				},
				splitLine : { // 分隔线
					length : 20, // 属性length控制线长
					lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
						color : 'auto'
					}
				},
				pointer : {
					width : 5
				},
				title : {
					offsetCenter : [ 0, '-30%' ], // x, y，单位px
				},
				detail : {
					textStyle : { // 其余属性默认使用全局文本样式，详见TEXTSTYLE
						fontWeight : 'bolder'
					}
				},
				data : [ {
					value : 30,
					name : 'M/s'
				} ]
			}, {
				name : 'JVM',
				type : 'gauge',
				center : [ '77%', '50%' ], // 默认全局居中
				radius : '25%',
				min : 0,
				max : 100,
				startAngle : 135,
				endAngle : 45,
				splitNumber : 10,
				axisLine : { // 坐标轴线
					lineStyle : { // 属性lineStyle控制线条样式
						width : 8
					}
				},
				axisTick : { // 坐标轴小标记
					splitNumber : 5,
					length : 10, // 属性length控制线长
					lineStyle : { // 属性lineStyle控制线条样式
						color : 'auto'
					}
				},
				axisLabel : {
					formatter : function(v) {
						switch (v + '') {
						case '0':
							return 'L';
						case '80':
							return 'W';
						case '100':
							return 'H';
						}
					}
				},
				splitLine : { // 分隔线
					length : 15, // 属性length控制线长
					lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
						color : 'auto'
					}
				},
				pointer : {
					width : 2
				},
				title : {
					show : false
				},
				detail : {
					show : false
				},
				data : [ {
					value : 50,
					name : 'JVM'
				} ]
			}, {
				name : 'RAM',
				type : 'gauge',
				center : [ '77%', '50%' ], // 默认全局居中
				radius : '25%',
				min : 0,
				max : 100,
				startAngle : 315,
				endAngle : 225,
				splitNumber : 10,
				axisLine : { // 坐标轴线
					lineStyle : { // 属性lineStyle控制线条样式
						width : 8
					}
				},
				axisTick : { // 坐标轴小标记
					show : false
				},
				axisLabel : {
					formatter : function(v) {
						switch (v + '') {
						case '0':
							return 'L';
						case '80':
							return 'W';
						case '100':
							return 'H';
						}
					}
				},
				splitLine : { // 分隔线
					length : 15, // 属性length控制线长
					lineStyle : { // 属性lineStyle（详见lineStyle）控制线条样式
						color : 'auto'
					}
				},
				pointer : {
					width : 2
				},
				title : {
					show : false
				},
				detail : {
					show : false
				},
				data : [ {
					value : 100,
					name : 'RAM'
				} ]
			} ]
		};
		gauge.setOption(gaugeOption);
		function genTimeLine() {
			var date = new Date();
			var target = [];
			for (var i = 0; i < 5; i++) {
				target.push(new Date(date.getTime() - (80000 - (i * 2000))).format('mm:ss'));
			}
			return target;
		}
		function randomData(length, max) {
			var target = [];
			for (var int = 0; int < length; int++) {
				target.push(Math.random() * max);
			}
			return target;
		}
		function keepLength(array, length) {
			if (array.length > length) {
				for (var i = 0; i < array.length - length; i++) {
					array.splice(i, 1);
				}
			}
		}

		setInterval(function() {

			$.post(getRootPath() + "/sigar", {
				type : 'ALL'
			}, function(result) {
				if (result.operationState == 'SUCCESS') {
					gaugeOption.series[0].data[0].value = result.data.cpu.total.usage.toFixed(2) - 0;
					$('#cpu').text((result.data.cpu.total.usage.toFixed(2) - 0) + '%');
					gaugeOption.series[1].data[0].value = result.data.network.rate.toFixed(2) - 0;
					$('#ram').text((result.data.memory.ram.usage.toFixed(2) - 0) + '%');
					$('#jvm').text((result.data.memory.jvm.usage.toFixed(2) - 0) + '%');
					$('#swap').text((result.data.memory.swap.usage.toFixed(2) - 0) + '%');
					$('#network').text((result.data.network.rate.toFixed(2) - 0) + 'M/s');
					gaugeOption.series[2].data[0].value = result.data.memory.jvm.usage.toFixed(2) - 0;
					gaugeOption.series[3].data[0].value = result.data.memory.ram.usage.toFixed(2) - 0;
					gauge.setOption(gaugeOption, true);

					option.series[0].data.push(result.data.cpu.total.usage.toFixed(2) - 0);
					option.series[1].data.push(result.data.memory.jvm.usage.toFixed(2) - 0);
					option.series[2].data.push(result.data.memory.ram.usage.toFixed(2) - 0);
					option.series[3].data.push(result.data.memory.swap.usage.toFixed(2) - 0);
					option.series[4].data.push(result.data.network.rate.toFixed(2) - 0);
					option.xAxis[0].data.push(new Date().format('mm:ss'));
					keepLength(option.series[0].data, 15);
					keepLength(option.series[1].data, 15);
					keepLength(option.series[2].data, 15);
					keepLength(option.series[3].data, 15);
					keepLength(option.series[4].data, 15);
					keepLength(option.xAxis[0].data, 15);
					line.setOption(option, true);

				} else {
					location.reload(true);
				}
			}, 'json');

		}, 2000);
	})
</script>